<a href="https://colab.research.google.com/github/aaratishrestha/ml_neural_network/blob/main/kaggle_merch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
import pandas as pd

In [46]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [47]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [48]:
fileDownloaded = drive.CreateFile({'id':'1NUPn3SDU7aSw0LLc1DTa5x_WVKb4zcu2'})

In [49]:
fileDownloaded.GetContentFile('train.csv')

In [50]:
df = pd.read_csv('train.csv')
df.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [51]:
df.dropna(inplace = True)
date_split = df["date"].str.split("-", n = 2, expand = False)
date_split
year = list()
month = list()
day = list()
for x in date_split:
  year.append(int(x[0]))
  month.append(int(x[1]))
  day.append(int(x[2]))

df['year'] = year
df['month'] = month
df['day'] = day
df.head()

,row_id,date,country,store,product,num_sold,year,month,day
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1

In [52]:
df.to_csv('data_by_day.csv')

In [53]:
df.loc[df['day'].mod(7) == 0, 'week'] = df['day'].floordiv(7)
df.loc[df['day'].mod(7) != 0, 'week'] = df['day'].floordiv(7)+1
df['week'] = df['week'].astype('int')
df.head()

# a = df.loc[df['week'] == 1]
# a.head(100)

,row_id,date,country,store,product,num_sold,year,month,day,week
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1,1
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1,1
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1,1
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1,1
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1,1

In [72]:


# from google.colab import files
df_group_by_week = df.groupby(['year','month','week','country','product','store']).agg({'num_sold': 'sum'}).reset_index()
df_week = pd.DataFrame(data=df_group_by_week)
unique_week  = set(df_week['week'].to_list())
countries = ['Finland', 'Norway', 'Sweden']
stores = ['KaggleMart', 'KaggleRama']
products = ['Kaggle Hat', 'Kaggle Mug', 'Kaggle Sticker']
for week in unique_week:
  for country in countries:
    for store in stores:
      for product in products:
        df_by_week = df_week.loc[(df_week['week'] == week) & (df_week['country'] == country) & (df_week['store'] == store) & (df_week['product'] == product)]
        df_by_week.to_csv(str(week)+'_'+country+'_'+store+'_'+product+'.csv')
        # files.download('example.txt')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df_group_by_month = df.groupby(['year','month','country','product','store']).agg({'num_sold': 'sum'})
pd.DataFrame(data=df_group_by_month).to_csv('data_by_month.csv')

In [ ]:
df_group_by_year = df.groupby(['year','country','product','store']).agg({'num_sold': 'sum'})
pd.DataFrame(data=df_group_by_year).to_csv('data_by_year.csv')

In [73]:
!pwd

/content

In [74]:
!ls

 1_df_by_week.csv
 1_Finland_KaggleMart_df_by_week.csv
'1_Finland_KaggleMart_Kaggle Hat.csv'
'1_Finland_KaggleMart_Kaggle Mug.csv'
'1_Finland_KaggleMart_Kaggle Sticker.csv'
 1_Finland_KaggleRama_df_by_week.csv
'1_Finland_KaggleRama_Kaggle Hat.csv'
'1_Finland_KaggleRama_Kaggle Mug.csv'
'1_Finland_KaggleRama_Kaggle Sticker.csv'
 1_Norway_KaggleMart_df_by_week.csv
'1_Norway_KaggleMart_Kaggle Hat.csv'
'1_Norway_KaggleMart_Kaggle Mug.csv'
'1_Norway_KaggleMart_Kaggle Sticker.csv'
 1_Norway_KaggleRama_df_by_week.csv
'1_Norway_KaggleRama_Kaggle Hat.csv'
'1_Norway_KaggleRama_Kaggle Mug.csv'
'1_Norway_KaggleRama_Kaggle Sticker.csv'
 1_Sweden_KaggleMart_df_by_week.csv
'1_Sweden_KaggleMart_Kaggle Hat.csv'
'1_Sweden_KaggleMart_Kaggle Mug.csv'
'1_Sweden_KaggleMart_Kaggle Sticker.csv'
 1_Sweden_KaggleRama_df_by_week.csv
'1_Sweden_KaggleRama_Kaggle Hat.csv'
'1_Sweden_KaggleRama_Kaggle Mug.csv'
'1_Sweden_KaggleRama_Kaggle Sticker.csv'
 2_df_by_week.csv
 2_Finland_KaggleMart_df_by_week.csv
'2_Finland_KaggleMart_Kaggle Hat.csv'
'2_Finland_KaggleMart_Kaggle Mug.csv'
'2_Finland_KaggleMart_Kaggle Sticker.csv'
 2_Finland_KaggleRama_df_by_week.csv
'2_Finland_KaggleRama_Kaggle Hat.csv'
'2_Finland_KaggleRama_Kaggle Mug.csv'
'2_Finland_KaggleRama_Kaggle Sticker.csv'
 2_Norway_KaggleMart_df_by_week.csv
'2_Norway_KaggleMart_Kaggle Hat.csv'
'2_Norway_KaggleMart_Kaggle Mug.csv'
'2_Norway_KaggleMart_Kaggle Sticker.csv'
 2_Norway_KaggleRama_df_by_week.csv
'2_Norway_KaggleRama_Kaggle Hat.csv'
'2_Norway_KaggleRama_Kaggle Mug.csv'
'2_Norway_KaggleRama_Kaggle Sticker.csv'
 2_Sweden_KaggleMart_df_by_week.csv
'2_Sweden_KaggleMart_Kaggle Hat.csv'
'2_Sweden_KaggleMart_Kaggle Mug.csv'
'2_Sweden_KaggleMart_Kaggle Sticker.csv'
 2_Sweden_KaggleRama_df_by_week.csv
'2_Sweden_KaggleRama_Kaggle Hat.csv'
'2_Sweden_KaggleRama_Kaggle Mug.csv'
'2_Sweden_KaggleRama_Kaggle Sticker.csv'
 3_df_by_week.csv
 3_Finland_KaggleMart_df_by_week.csv
'3_Finland_KaggleMart_Kaggle Hat.csv'
'3_Finland_KaggleMart_Kaggle Mug.csv'
'3_Finland_KaggleMart_Kaggle Sticker.csv'
 3_Finland_KaggleRama_df_by_week.csv
'3_Finland_KaggleRama_Kaggle Hat.csv'
'3_Finland_KaggleRama_Kaggle Mug.csv'
'3_Finland_KaggleRama_Kaggle Sticker.csv'
 3_Norway_KaggleMart_df_by_week.csv
'3_Norway_KaggleMart_Kaggle Hat.csv'
'3_Norway_KaggleMart_Kaggle Mug.csv'
'3_Norway_KaggleMart_Kaggle Sticker.csv'
 3_Norway_KaggleRama_df_by_week.csv
'3_Norway_KaggleRama_Kaggle Hat.csv'
'3_Norway_KaggleRama_Kaggle Mug.csv'
'3_Norway_KaggleRama_Kaggle Sticker.csv'
 3_Sweden_KaggleMart_df_by_week.csv
'3_Sweden_KaggleMart_Kaggle Hat.csv'
'3_Sweden_KaggleMart_Kaggle Mug.csv'
'3_Sweden_KaggleMart_Kaggle Sticker.csv'
 3_Sweden_KaggleRama_df_by_week.csv
'3_Sweden_KaggleRama_Kaggle Hat.csv'
'3_Sweden_KaggleRama_Kaggle Mug.csv'
'3_Sweden_KaggleRama_Kaggle Sticker.csv'
 4_df_by_week.csv
 4_Finland_KaggleMart_df_by_week.csv
'4_Finland_KaggleMart_Kaggle Hat.csv'
'4_Finland_KaggleMart_Kaggle Mug.csv'
'4_Finland_KaggleMart_Kaggle Sticker.csv'
 4_Finland_KaggleRama_df_by_week.csv
'4_Finland_KaggleRama_Kaggle Hat.csv'
'4_Finland_KaggleRama_Kaggle Mug.csv'
'4_Finland_KaggleRama_Kaggle Sticker.csv'
 4_Norway_KaggleMart_df_by_week.csv
'4_Norway_KaggleMart_Kaggle Hat.csv'
'4_Norway_KaggleMart_Kaggle Mug.csv'
'4_Norway_KaggleMart_Kaggle Sticker.csv'
 4_Norway_KaggleRama_df_by_week.csv
'4_Norway_KaggleRama_Kaggle Hat.csv'
'4_Norway_KaggleRama_Kaggle Mug.csv'
'4_Norway_KaggleRama_Kaggle Sticker.csv'
 4_Sweden_KaggleMart_df_by_week.csv
'4_Sweden_KaggleMart_Kaggle Hat.csv'
'4_Sweden_KaggleMart_Kaggle Mug.csv'
'4_Sweden_KaggleMart_Kaggle Sticker.csv'
 4_Sweden_KaggleRama_df_by_week.csv
'4_Sweden_KaggleRama_Kaggle Hat.csv'
'4_Sweden_KaggleRama_Kaggle Mug.csv'
'4_Sweden_KaggleRama_Kaggle Sticker.csv'
 5_df_by_week.csv
 5_Finland_KaggleMart_df_by_week.csv
'5_Finland_KaggleMart_Kaggle Hat.csv'
'5_Finland_KaggleMart_Kaggle Mug.csv'
'5_Finland_KaggleMart_Kaggle Sticker.csv'
 5_Finland_KaggleRama_df_by_week.csv
'5_Finland_KaggleRama_Kaggle Hat.csv'
'5_Finland_KaggleRama_Kaggle Mug.csv'
'5_Finland_KaggleRama_Kaggle Sticker.csv'
 5_Norway_KaggleMart_df_by_week.csv
'5_Norway_KaggleMart_Kaggle Hat.csv'
'5_Norway_KaggleMart_Kaggle Mug.csv'
'5_Norway_KaggleMart_Kaggle Sticker.csv'
 5_Norway_KaggleRama_df_by_week.csv
'5_Norway_KaggleRama_Kaggle Hat.csv'
'5_Norway_KaggleRama_Kaggle Mug.csv'
'5_Norway_KaggleRama_Kaggle Sticker.csv'
 5_Sweden_KaggleMart_df_by_week.csv
'5_Sweden_KaggleMart_Kaggle Hat.csv'
'5_Sweden_KaggleMart_Kaggle Mug.csv'
'5_Sweden_KaggleMart_Kaggle Sticker.csv'
 5_Sweden_KaggleRama_df_by_week.csv
'5_Sweden_KaggleRama_Kaggle Hat.csv'
'5_Sweden_KaggleRama_Kaggle Mug.csv'
'5_Sweden_KaggleRama_Kaggle Sticker.csv'
 data_by_day.csv
 sample_data
 train.csv
 week_test.csv

In [75]:
!zip -r foo.zip .

  adding: .config/ (stored 0%)
  adding: .config/.last_opt_in_prompt.yaml (stored 0%)
  adding: .config/active_config (stored 0%)
  adding: .config/gce (stored 0%)
  adding: .config/config_sentinel (stored 0%)
  adding: .config/logs/ (stored 0%)
  adding: .config/logs/2022.09.14/ (stored 0%)
  adding: .config/logs/2022.09.14/13.43.12.857966.log (deflated 91%)
  adding: .config/logs/2022.09.14/13.44.02.480346.log (deflated 54%)
  adding: .config/logs/2022.09.14/13.44.22.887116.log (deflated 54%)
  adding: .config/logs/2022.09.14/13.43.34.754807.log (deflated 54%)
  adding: .config/logs/2022.09.14/13.43.54.433400.log (deflated 86%)
  adding: .config/logs/2022.09.14/13.44.23.609544.log (deflated 53%)
  adding: .config/logs/2022.09.19/ (stored 0%)
  adding: .config/logs/2022.09.19/10.48.27.547366.log (deflated 65%)
  adding: .config/.last_survey_prompt.yaml (stored 0%)
  adding: .config/.last_update_check.json (deflated 23%)
  adding: .config/configurations/ (stored 0%)
  adding: .config/configurations/config_default (deflated 21%)
  adding: .config/credentials.db (deflated 95%)
  adding: .config/legacy_credentials/ (stored 0%)
  adding: .config/legacy_credentials/aarati.shrestha@hiof.no/ (stored 0%)
  adding: .config/legacy_credentials/aarati.shrestha@hiof.no/adc.json (deflated 15%)
  adding: .config/legacy_credentials/aarati.shrestha@hiof.no/.boto (deflated 11%)
  adding: .config/access_tokens.db (deflated 90%)
  adding: 5_Finland_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 2_Sweden_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 4_Norway_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 1_Norway_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 2_df_by_week.csv (deflated 84%)
  adding: 3_Sweden_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 3_Norway_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 3_Finland_KaggleRama_Kaggle Mug.csv (deflated 81%)
  adding: 4_Norway_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 1_Finland_KaggleRama_Kaggle Sticker.csv (deflated 83%)
  adding: 4_Norway_KaggleMart_Kaggle Mug.csv (deflated 80%)
  adding: 4_Sweden_KaggleRama_Kaggle Mug.csv (deflated 81%)
  adding: 2_Norway_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 3_Finland_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 3_df_by_week.csv (deflated 84%)
  adding: 1_Sweden_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Sweden_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 2_Sweden_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 5_Norway_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 2_Finland_KaggleMart_Kaggle Sticker.csv (deflated 83%)
  adding: 3_Norway_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 2_Finland_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 4_Finland_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 1_Norway_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Finland_KaggleMart_Kaggle Mug.csv (deflated 80%)
  adding: 5_Norway_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 4_Norway_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 2_Norway_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 3_Norway_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 3_Sweden_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 2_Norway_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 2_Finland_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 3_Finland_KaggleMart_Kaggle Hat.csv (deflated 81%)
  adding: 1_df_by_week.csv (deflated 84%)
  adding: 3_Sweden_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 1_Finland_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 1_Finland_KaggleMart_Kaggle Sticker.csv (deflated 83%)
  adding: 4_Sweden_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 1_Finland_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 2_Sweden_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 2_Sweden_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: .adc/ (stored 0%)
  adding: .adc/adc.json (deflated 52%)
  adding: 1_Sweden_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 4_Finland_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 5_Sweden_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 1_Sweden_KaggleRama_df_by_week.csv (deflated 83%)
  adding: week_test.csv (deflated 84%)
  adding: 1_Norway_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 5_Finland_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 3_Sweden_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Sweden_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 5_Finland_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 1_Sweden_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Norway_KaggleMart_Kaggle Mug.csv (deflated 80%)
  adding: 3_Finland_KaggleMart_Kaggle Sticker.csv (deflated 83%)
  adding: 2_Norway_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 3_Norway_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 2_Finland_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: train.csv (deflated 86%)
  adding: 3_Sweden_KaggleMart_df_by_week.csv (deflated 84%)
  adding: 4_Sweden_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 3_Finland_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 2_Sweden_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 2_Norway_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 4_Finland_KaggleRama_Kaggle Hat.csv (deflated 81%)
  adding: 4_Sweden_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 4_Sweden_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 1_Norway_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 4_Norway_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 5_Norway_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 1_Sweden_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 1_Finland_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 3_Norway_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Finland_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 3_Sweden_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 3_Norway_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 1_Finland_KaggleRama_Kaggle Mug.csv (deflated 81%)
  adding: 1_Finland_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 4_Finland_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 4_Sweden_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Norway_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 2_Norway_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 4_Finland_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 5_Sweden_KaggleMart_Kaggle Mug.csv (deflated 80%)
  adding: 5_Norway_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 5_df_by_week.csv (deflated 83%)
  adding: 5_Sweden_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 4_Finland_KaggleRama_Kaggle Mug.csv (deflated 81%)
  adding: 5_Sweden_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 3_Sweden_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 2_Finland_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 1_Norway_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 2_Finland_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 3_Norway_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 1_Sweden_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 2_Norway_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 2_Finland_KaggleMart_df_by_week.csv (deflated 84%)
  adding: 2_Sweden_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 4_Sweden_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 3_Norway_KaggleMart_Kaggle Mug.csv (deflated 80%)
  adding: 5_Finland_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Norway_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 2_Sweden_KaggleRama_Kaggle Mug.csv (deflated 80%)
  adding: 4_Finland_KaggleMart_Kaggle Mug.csv (deflated 81%)
  adding: 3_Sweden_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 4_Norway_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 2_Finland_KaggleRama_Kaggle Sticker.csv (deflated 83%)
  adding: 1_Norway_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 2_Norway_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 1_Norway_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 5_Sweden_KaggleRama_Kaggle Sticker.csv (deflated 82%)
  adding: 3_Finland_KaggleRama_Kaggle Sticker.csv (deflated 83%)
  adding: 4_Finland_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 4_Norway_KaggleMart_Kaggle Sticker.csv (deflated 82%)
  adding: 5_Finland_KaggleMart_Kaggle Hat.csv (deflated 80%)
  adding: 4_Sweden_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 1_Sweden_KaggleRama_Kaggle Mug.csv (deflated 81%)
  adding: 3_Finland_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 5_Sweden_KaggleRama_df_by_week.csv (deflated 82%)
  adding: 5_Finland_KaggleMart_df_by_week.csv (deflated 83%)
  adding: 4_df_by_week.csv (deflated 84%)
  adding: 5_Norway_KaggleRama_Kaggle Sticker.csv (deflated 81%)
  adding: 1_Finland_KaggleRama_df_by_week.csv (deflated 83%)
  adding: 3_Finland_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 2_Sweden_KaggleRama_Kaggle Sticker.csv (deflated 83%)
  adding: data_by_day.csv (deflated 85%)
  adding: 4_Norway_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 1_Sweden_KaggleRama_Kaggle Hat.csv (deflated 80%)
  adding: 1_Norway_KaggleRama_df_by_week.csv (deflated 83%)
  adding: sample_data/ (stored 0%)
  adding: sample_data/README.md (deflated 42%)
  adding: sample_data/anscombe.json (deflated 83%)
  adding: sample_data/mnist_train_small.csv (deflated 88%)
  adding: sample_data/california_housing_test.csv (deflated 76%)
  adding: sample_data/california_housing_train.csv (deflated 79%)
  adding: sample_data/mnist_test.csv (deflated 88%)

In [76]:
!ls *.zip

foo.zip