<a href="https://colab.research.google.com/github/aaratishrestha/ml_neural_network/blob/main/kaggle_merch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

In [37]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [38]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [39]:
fileDownloaded = drive.CreateFile({'id':'1NUPn3SDU7aSw0LLc1DTa5x_WVKb4zcu2'})

In [40]:
fileDownloaded.GetContentFile('train.csv')

In [41]:
df = pd.read_csv('train.csv')
df.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart      Kaggle Mug       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [42]:
df.dropna(inplace = True)
date_split = df["date"].str.split("-", n = 2, expand = False)
date_split
year = list()
month = list()
day = list()
for x in date_split:
  year.append(int(x[0]))
  month.append(int(x[1]))
  day.append(int(x[2]))

df['year'] = year
df['month'] = month
df['day'] = day
df.head()

,row_id,date,country,store,product,num_sold,year,month,day
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1

In [44]:
df.to_csv('data_by_day.csv')

In [45]:
df.loc[df['day'].astype('int').mod(7) == 0, 'week'] = df['day'].astype('int').floordiv(7)
df.loc[df['day'].astype('int').mod(7) != 0, 'week'] = df['day'].astype('int').floordiv(7)+1
df['week'] = df['week'].astype('int')
df.head()

,row_id,date,country,store,product,num_sold,year,month,day,week
0,0,2015-01-01,Finland,KaggleMart,Kaggle Mug,329,2015,1,1,1
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,2015,1,1,1
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,2015,1,1,1
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,2015,1,1,1
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,2015,1,1,1

In [46]:
df_group_by_week = df.groupby(['year','month','week','country','product','store']).agg({'num_sold': 'sum'})
pd.DataFrame(data=df_group_by_week).to_csv('data_by_week.csv')

In [47]:
df_group_by_month = df.groupby(['year','month','country','product','store']).agg({'num_sold': 'sum'})
pd.DataFrame(data=df_group_by_month).to_csv('data_by_month.csv')

In [48]:
df_group_by_year = df.groupby(['year','country','product','store']).agg({'num_sold': 'sum'})
pd.DataFrame(data=df_group_by_year).to_csv('data_by_year.csv')