<a href="https://colab.research.google.com/github/aaratishrestha/ml_neural_network/blob/main/kaggle_merch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
%cd /content/
!ls /content/

/content
sample_data

In [ ]:
import pandas as pd

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
fileDownloaded = drive.CreateFile({'id':'1NUPn3SDU7aSw0LLc1DTa5x_WVKb4zcu2'})

In [ ]:
fileDownloaded.GetContentFile('train.csv')

In [ ]:
df = pd.read_csv('train.csv')
df.head()

   row_id        date  country       store         product  num_sold
0       0  2015-01-01  Finland  KaggleMart             NaN       329
1       1  2015-01-01  Finland  KaggleMart      Kaggle Hat       520
2       2  2015-01-01  Finland  KaggleMart  Kaggle Sticker       146
3       3  2015-01-01  Finland  KaggleRama      Kaggle Mug       572
4       4  2015-01-01  Finland  KaggleRama      Kaggle Hat       911

In [ ]:
df.shape

(26298, 6)

In [ ]:
df.isna().sum()

row_id      0
date        0
country     0
store       0
product     1
num_sold    0
dtype: int64

In [ ]:
df.dropna(inplace = True)

In [ ]:
df.shape

(26297, 6)

In [ ]:
df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year
df['day'] = pd.to_datetime(df['date']).dt.day

In [ ]:
df.to_csv('data_by_day.csv')

In [ ]:
df.loc[df['day'].mod(7) == 0, 'week'] = df['day'].floordiv(7)
df.loc[df['day'].mod(7) != 0, 'week'] = df['day'].floordiv(7)+1
df['week'] = df['week'].astype('int')
df.head()
# df.to_csv('week_by_day.csv')

,row_id,date,country,store,product,num_sold,month,year,day,week
1,1,2015-01-01,Finland,KaggleMart,Kaggle Hat,520,1,2015,1,1
2,2,2015-01-01,Finland,KaggleMart,Kaggle Sticker,146,1,2015,1,1
3,3,2015-01-01,Finland,KaggleRama,Kaggle Mug,572,1,2015,1,1
4,4,2015-01-01,Finland,KaggleRama,Kaggle Hat,911,1,2015,1,1
5,5,2015-01-01,Finland,KaggleRama,Kaggle Sticker,283,1,2015,1,1

In [ ]:
df_group_by_week = df.groupby(['year','month','week','country','product','store']).agg({'num_sold': 'sum'}).reset_index()
df_week = pd.DataFrame(data=df_group_by_week)
unique_week  = set(df_week['week'].to_list())
countries = ['Finland', 'Norway', 'Sweden']
stores = ['KaggleMart', 'KaggleRama']
products = ['Kaggle Hat', 'Kaggle Mug', 'Kaggle Sticker']
for week in unique_week:
  for country in countries:
    for store in stores:
      for product in products:
        df_by_week = df_week.loc[(df_week['week'] == week) & (df_week['country'] == country) & (df_week['store'] == store) & (df_week['product'] == product)]
        df_by_week.to_csv('week_'+str(week)+'_'+country+'_'+store+'_'+product+'.csv')

In [ ]:

df_group_by_week = df.groupby(['year','month','week','country','product','store']).agg({'num_sold': 'sum'}).reset_index()
df_week = pd.DataFrame(data=df_group_by_week)
unique_week  = set(df_week['week'].to_list())
countries = ['Finland', 'Norway', 'Sweden']
stores = ['KaggleMart', 'KaggleRama']
products = ['Kaggle Hat', 'Kaggle Mug', 'Kaggle Sticker']
for week in unique_week:
  for country in countries:
    for store in stores:
      for product in products:
        df_by_week = df_week.loc[(df_week['week'] == week) & (df_week['country'] == country) & (df_week['store'] == store) & (df_week['product'] == product)]
        df_by_week.to_csv(str(week)+'_'+country+'_'+store+'_'+product+'.csv')

In [ ]:
df_group_by_year = df.groupby(['year','country','product','store']).agg({'num_sold': 'sum'}).reset_index()
df_year = pd.DataFrame(data=df_group_by_year)
unique_year  = set(df_year['year'].to_list())
countries = ['Finland', 'Norway', 'Sweden']
stores = ['KaggleMart', 'KaggleRama']
products = ['Kaggle Hat', 'Kaggle Mug', 'Kaggle Sticker']
for year in unique_year:
  for country in countries:
    for store in stores:
      for product in products:
        df_by_year = df_year.loc[(df_year['year'] == year) & (df_year['country'] == country) & (df_year['store'] == store) & (df_year['product'] == product)]
        df_by_year.to_csv('year_'+str(year)+'_'+country+'_'+store+'_'+product+'.csv')

In [ ]:
df_group_by_month = df.groupby(['year','month','country','product','store']).agg({'num_sold': 'sum'}).reset_index()
df_month = pd.DataFrame(data=df_group_by_month)
unique_month  = set(df_month['month'].to_list())
countries = ['Finland', 'Norway', 'Sweden']
stores = ['KaggleMart', 'KaggleRama']
products = ['Kaggle Hat', 'Kaggle Mug', 'Kaggle Sticker']
for month in unique_month:
  for country in countries:
    for store in stores:
      for product in products:
        df_by_month = df_month.loc[(df_month['month'] == month) & (df_month['country'] == country) & (df_month['store'] == store) & (df_month['product'] == product)]
        df_by_month.to_csv('month_'+str(month)+'_'+country+'_'+store+'_'+product+'.csv')

In [ ]:
df_group_by_month = df.groupby(['year','month','country','product','store']).agg({'num_sold': 'sum'})
unique_month  = set(df_['week'].to_list())
pd.DataFrame(data=df_group_by_month).to_csv('data_by_month.csv')

NameError: ignored

In [ ]:
df_group_by_year = df.groupby(['year','country','product','store']).agg({'num_sold': 'sum'})
pd.DataFrame(data=df_group_by_year).to_csv('data_by_year.csv')

In [ ]:
!pwd

In [ ]:
!ls

In [ ]:
!rm data*

In [ ]:
!zip -r dataset.zip . --ignore=sample_data

In [ ]:
!ls *.zip

In [ ]:
# week_{{number}}_{{country_name}}_{kaggle_outlet}_{merchandise}.csv